<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlClient" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="ProHotelEntities" connectionString="metadata=res://*/Model.HotelModel.csdl|res://*/Model.HotelModel.ssdl|res://*/Model.HotelModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Onigod-pc;initial catalog=ProHotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- Настройки логирования -->
    <add key="LogDirectory" value="Logs" />
    <add key="LogRetentionDays" value="30" />
    <!-- Настройки безопасности -->
    <add key="PasswordSalt" value="your-secure-salt" />
    <add key="TwoFactorCodeExpirationMinutes" value="5" />
    <add key="PasswordResetTokenExpirationHours" value="1" />
    <!-- Настройки SMTP -->
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUsername" value="your-email@gmail.com" />
    <add key="SmtpPassword" value="your-app-password" />
    <add key="FromEmail" value="your-email@gmail.com" />
    <add key="ResetPasswordUrl" value="https://your-app-url/reset-password" />
    <!-- Настройки Google Maps API -->
    <add key="GoogleMapsApiKey" value="your-google-maps-api-key" />
  </appSettings>
</configuration>