USE [master]
GO
/****** Object:  Database [ProHotel]    Script Date: 05.05.2025 22:09:06 ******/
CREATE DATABASE [ProHotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProHotel', FILENAME = N'E:\sql sevrver\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProHotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProHotel_log', FILENAME = N'E:\sql sevrver\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProHotel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProHotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProHotel]
GO
/****** Object:  Schema [Authentication]    Script Date: 05.05.2025 22:09:06 ******/
CREATE SCHEMA [Authentication]
GO
/****** Object:  Schema [Bookings]    Script Date: 05.05.2025 22:09:06 ******/
CREATE SCHEMA [Bookings]
GO
/****** Object:  Schema [Hotels]    Script Date: 05.05.2025 22:09:06 ******/
CREATE SCHEMA [Hotels]
GO
/****** Object:  Schema [HotelService]    Script Date: 05.05.2025 22:09:06 ******/
CREATE SCHEMA [HotelService]
GO
/****** Object:  Schema [Rooms]    Script Date: 05.05.2025 22:09:06 ******/
CREATE SCHEMA [Rooms]
GO
/****** Object:  Table [Authentication].[Admin]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Authentication].[Admin](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_AdminId] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Authentication].[Login]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Authentication].[Login](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[EmployeeId] [int] NULL,
	[SecurityQuestion] [nvarchar](100) NULL,
	[Answer] [nvarchar](50) NULL,
	[HotelId] [int] NOT NULL,
	[NewUser] [char](5) NULL,
 CONSTRAINT [PK_LoginId] PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Bookings].[Booking]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bookings].[Booking](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[BookingDate] [date] NOT NULL,
	[StayDuration] [int] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
	[BookingAmount] [int] NOT NULL,
	[HotelId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[GuestId] [int] NOT NULL,
	[DiscountId] [int] NULL,
	[Status] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_BookingId] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Bookings].[Discount]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bookings].[Discount](
	[DiscountId] [int] IDENTITY(1,1) NOT NULL,
	[DiscountName] [nvarchar](100) NOT NULL,
	[DiscountDescription] [nvarchar](50) NOT NULL,
	[DiscountRate] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_DiscountID] PRIMARY KEY CLUSTERED 
(
	[DiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[CityID] [int] NOT NULL,
	[Street] [nvarchar](200) NOT NULL,
	[BuildingNumber] [nvarchar](20) NOT NULL,
	[PostalCode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Amenities]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenities](
	[AmenityID] [int] IDENTITY(1,1) NOT NULL,
	[AmenityName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AmenityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingDiscounts]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingDiscounts](
	[BookingID] [int] NOT NULL,
	[DiscountID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC,
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[BookingDate] [datetime] NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CountryID] [int] NOT NULL,
	[CityName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
	[CountryCode] [char](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[DateOfBirth] [date] NULL,
	[PassportNumber] [nvarchar](50) NULL,
	[RegistrationDate] [datetime] NULL,
	[Password] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[DiscountName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DiscountPercent] [decimal](5, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[HotelID] [int] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Position] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[HireDate] [date] NOT NULL,
	[Salary] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[HotelID] [int] IDENTITY(1,1) NOT NULL,
	[AddressID] [int] NOT NULL,
	[HotelName] [nvarchar](200) NOT NULL,
	[StarRating] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[HotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[TransactionID] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[ReviewDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomAmenities]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomAmenities](
	[RoomID] [int] NOT NULL,
	[AmenityID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC,
	[AmenityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[HotelID] [int] NOT NULL,
	[RoomTypeID] [int] NOT NULL,
	[RoomNumber] [nvarchar](20) NOT NULL,
	[Floor] [int] NOT NULL,
	[IsAvailable] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[RoomTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[BasePrice] [decimal](10, 2) NOT NULL,
	[Capacity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Hotels].[Departments]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hotels].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
	[DepartmentDescription] [nvarchar](50) NOT NULL,
	[InitialSalary] [int] NOT NULL,
	[HotelId] [int] NULL,
	[Designation] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DepartmentId] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hotels].[Employees]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hotels].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeFirstName] [nvarchar](50) NOT NULL,
	[EmployeeLastName] [nvarchar](50) NOT NULL,
	[EmployeeDesignation] [nvarchar](50) NOT NULL,
	[EmployeeContactNumber] [nvarchar](15) NOT NULL,
	[EmployeeEmailAddress] [nvarchar](50) NOT NULL,
	[EmployeeJoiningDate] [date] NOT NULL,
	[AddressLine] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[City] [nvarchar](20) NOT NULL,
	[Zip] [nvarchar](50) NOT NULL,
	[DepartmentId] [int] NULL,
	[HotelId] [int] NOT NULL,
	[CNIC] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_EmployeeId] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hotels].[Guests]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hotels].[Guests](
	[GuestId] [int] IDENTITY(1,1) NOT NULL,
	[GuestFirstName] [nvarchar](50) NOT NULL,
	[GuestLastName] [nvarchar](50) NOT NULL,
	[GuestEmailAddress] [nvarchar](50) NOT NULL,
	[GuestContactNumber] [nvarchar](15) NOT NULL,
	[GuestPassportNumber] [nvarchar](20) NOT NULL,
	[GuestCnic] [nvarchar](30) NOT NULL,
	[AddressLine] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[City] [nvarchar](20) NOT NULL,
	[Zip] [nvarchar](50) NOT NULL,
	[HotelId] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_GuestId] PRIMARY KEY CLUSTERED 
(
	[GuestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hotels].[Hotel]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hotels].[Hotel](
	[HotelId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ContactNumber] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Website] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[FloorCount] [int] NOT NULL,
	[TotalRooms] [int] NOT NULL,
	[AddressLine] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[City] [nvarchar](20) NOT NULL,
	[Zip] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_HotelId] PRIMARY KEY CLUSTERED 
(
	[HotelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HotelService].[Services]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HotelService].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](50) NOT NULL,
	[ServiceDescription] [nvarchar](50) NOT NULL,
	[ServiceCost] [int] NOT NULL,
	[HotelId] [int] NOT NULL,
 CONSTRAINT [PK_ServicesId] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HotelService].[ServicesUsed]    Script Date: 05.05.2025 22:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HotelService].[ServicesUsed](
	[ServicesUserId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceId] [int] NULL,
	[BookingId] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Authentication].[Admin] ON 

INSERT [Authentication].[Admin] ([AdminId], [Username], [Password]) VALUES (1, N'admin110', N'hotels123')
SET IDENTITY_INSERT [Authentication].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([AddressID], [CityID], [Street], [BuildingNumber], [PostalCode]) VALUES (1, 1, N'5th Avenue', N'123', N'10001')
INSERT [dbo].[Addresses] ([AddressID], [CityID], [Street], [BuildingNumber], [PostalCode]) VALUES (2, 1, N'Broadway', N'456', N'10002')
INSERT [dbo].[Addresses] ([AddressID], [CityID], [Street], [BuildingNumber], [PostalCode]) VALUES (3, 3, N'Oxford Street', N'78', N'W1D 1BS')
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Amenities] ON 

INSERT [dbo].[Amenities] ([AmenityID], [AmenityName], [Description]) VALUES (1, N'Wi-Fi', N'Free high-speed internet access')
INSERT [dbo].[Amenities] ([AmenityID], [AmenityName], [Description]) VALUES (2, N'TV', N'Flat-screen TV with cable channels')
INSERT [dbo].[Amenities] ([AmenityID], [AmenityName], [Description]) VALUES (3, N'Air Conditioning', N'Climate control system')
SET IDENTITY_INSERT [dbo].[Amenities] OFF
GO
INSERT [dbo].[BookingDiscounts] ([BookingID], [DiscountID]) VALUES (1, 1)
INSERT [dbo].[BookingDiscounts] ([BookingID], [DiscountID]) VALUES (2, 4)
INSERT [dbo].[BookingDiscounts] ([BookingID], [DiscountID]) VALUES (3, 7)
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingID], [CustomerID], [RoomID], [BookingDate], [CheckInDate], [CheckOutDate], [TotalPrice], [Status]) VALUES (1, 1, 1, CAST(N'2025-04-17T16:02:31.197' AS DateTime), CAST(N'2023-05-10' AS Date), CAST(N'2023-05-15' AS Date), CAST(500.00 AS Decimal(10, 2)), N'Completed')
INSERT [dbo].[Bookings] ([BookingID], [CustomerID], [RoomID], [BookingDate], [CheckInDate], [CheckOutDate], [TotalPrice], [Status]) VALUES (2, 2, 3, CAST(N'2025-04-17T16:02:31.197' AS DateTime), CAST(N'2023-06-01' AS Date), CAST(N'2023-06-08' AS Date), CAST(2100.00 AS Decimal(10, 2)), N'Completed')
INSERT [dbo].[Bookings] ([BookingID], [CustomerID], [RoomID], [BookingDate], [CheckInDate], [CheckOutDate], [TotalPrice], [Status]) VALUES (3, 3, 5, CAST(N'2025-04-17T16:02:31.197' AS DateTime), CAST(N'2023-07-15' AS Date), CAST(N'2023-07-20' AS Date), CAST(1000.00 AS Decimal(10, 2)), N'Confirmed')
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([CityID], [CountryID], [CityName]) VALUES (1, 1, N'New York')
INSERT [dbo].[Cities] ([CityID], [CountryID], [CityName]) VALUES (2, 1, N'Los Angeles')
INSERT [dbo].[Cities] ([CityID], [CountryID], [CityName]) VALUES (3, 2, N'London')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryName], [CountryCode]) VALUES (1, N'United States', N'US')
INSERT [dbo].[Countries] ([CountryID], [CountryName], [CountryCode]) VALUES (2, N'United Kingdom', N'UK')
INSERT [dbo].[Countries] ([CountryID], [CountryName], [CountryCode]) VALUES (3, N'France', N'FR')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [PhoneNumber], [DateOfBirth], [PassportNumber], [RegistrationDate], [Password]) VALUES (1, N'John', N'Smith', N'john.smith@email.com', N'+15551234567', CAST(N'1980-05-15' AS Date), N'US12345678', CAST(N'2025-04-17T16:02:31.190' AS DateTime), N'1234')
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [PhoneNumber], [DateOfBirth], [PassportNumber], [RegistrationDate], [Password]) VALUES (2, N'Emily', N'Johnson', N'emily.j@email.com', N'+15559876543', CAST(N'1992-08-22' AS Date), N'UK87654321', CAST(N'2025-04-17T16:02:31.190' AS DateTime), N'1234')
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [PhoneNumber], [DateOfBirth], [PassportNumber], [RegistrationDate], [Password]) VALUES (3, N'Michael', N'Williams', N'michael.w@email.com', N'+442071234567', CAST(N'1975-11-30' AS Date), N'GB11223344', CAST(N'2025-04-17T16:02:31.190' AS DateTime), N'1234')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Discounts] ON 

INSERT [dbo].[Discounts] ([DiscountID], [DiscountName], [Description], [DiscountPercent], [StartDate], [EndDate], [IsActive]) VALUES (1, N'Early Bird', N'Book 60 days in advance for discount', CAST(15.00 AS Decimal(5, 2)), CAST(N'2023-01-01' AS Date), CAST(N'2023-12-31' AS Date), 1)
INSERT [dbo].[Discounts] ([DiscountID], [DiscountName], [Description], [DiscountPercent], [StartDate], [EndDate], [IsActive]) VALUES (2, N'Last Minute', N'Book within 7 days of stay for discount', CAST(10.00 AS Decimal(5, 2)), CAST(N'2023-01-01' AS Date), CAST(N'2023-12-31' AS Date), 1)
INSERT [dbo].[Discounts] ([DiscountID], [DiscountName], [Description], [DiscountPercent], [StartDate], [EndDate], [IsActive]) VALUES (3, N'Loyalty', N'Discount for returning customers', CAST(5.00 AS Decimal(5, 2)), CAST(N'2023-01-01' AS Date), CAST(N'2023-12-31' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Discounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [HotelID], [FirstName], [LastName], [Position], [Email], [PhoneNumber], [HireDate], [Salary]) VALUES (1, 1, N'Robert', N'Taylor', N'Manager', N'robert.t@grandplaza.com', N'+12125551234', CAST(N'2018-06-15' AS Date), CAST(75000.00 AS Decimal(10, 2)))
INSERT [dbo].[Employees] ([EmployeeID], [HotelID], [FirstName], [LastName], [Position], [Email], [PhoneNumber], [HireDate], [Salary]) VALUES (2, 1, N'Jennifer', N'Clark', N'Receptionist', N'jennifer.c@grandplaza.com', N'+12125551235', CAST(N'2020-02-10' AS Date), CAST(45000.00 AS Decimal(10, 2)))
INSERT [dbo].[Employees] ([EmployeeID], [HotelID], [FirstName], [LastName], [Position], [Email], [PhoneNumber], [HireDate], [Salary]) VALUES (3, 2, N'Richard', N'Lewis', N'Manager', N'richard.l@metrosuites.com', N'+12125556780', CAST(N'2019-03-22' AS Date), CAST(70000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Hotels] ON 

INSERT [dbo].[Hotels] ([HotelID], [AddressID], [HotelName], [StarRating], [Description], [PhoneNumber], [Email]) VALUES (1, 1, N'Grand Plaza Hotel', 5, N'Luxury hotel in the heart of New York', N'+12125551234', N'info@grandplaza.com')
INSERT [dbo].[Hotels] ([HotelID], [AddressID], [HotelName], [StarRating], [Description], [PhoneNumber], [Email]) VALUES (2, 2, N'Metropolitan Suites', 4, N'Comfortable suites with great views', N'+12125556789', N'reservations@metrosuites.com')
INSERT [dbo].[Hotels] ([HotelID], [AddressID], [HotelName], [StarRating], [Description], [PhoneNumber], [Email]) VALUES (3, 3, N'Royal London Hotel', 5, N'Historic luxury hotel in central London', N'+442076543210', N'bookings@royallondon.uk')
SET IDENTITY_INSERT [dbo].[Hotels] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [BookingID], [Amount], [PaymentDate], [PaymentMethod], [Status], [TransactionID]) VALUES (1, 1, CAST(500.00 AS Decimal(10, 2)), CAST(N'2025-04-17T16:02:31.200' AS DateTime), N'Credit Card', N'Completed', N'TXN123456789')
INSERT [dbo].[Payments] ([PaymentID], [BookingID], [Amount], [PaymentDate], [PaymentMethod], [Status], [TransactionID]) VALUES (2, 2, CAST(2100.00 AS Decimal(10, 2)), CAST(N'2025-04-17T16:02:31.200' AS DateTime), N'Bank Transfer', N'Completed', N'TXN987654321')
INSERT [dbo].[Payments] ([PaymentID], [BookingID], [Amount], [PaymentDate], [PaymentMethod], [Status], [TransactionID]) VALUES (3, 3, CAST(500.00 AS Decimal(10, 2)), CAST(N'2025-04-17T16:02:31.200' AS DateTime), N'Credit Card', N'Completed', N'TXN112233445')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [BookingID], [Rating], [Comment], [ReviewDate]) VALUES (1, 1, 4, N'Great location and comfortable room.', CAST(N'2025-04-17T16:02:31.200' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewID], [BookingID], [Rating], [Comment], [ReviewDate]) VALUES (2, 2, 5, N'Absolutely fantastic! The suite was amazing.', CAST(N'2025-04-17T16:02:31.200' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewID], [BookingID], [Rating], [Comment], [ReviewDate]) VALUES (3, 3, 3, N'Good but expected better for the price.', CAST(N'2025-04-17T16:02:31.200' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
INSERT [dbo].[RoomAmenities] ([RoomID], [AmenityID]) VALUES (1, 1)
INSERT [dbo].[RoomAmenities] ([RoomID], [AmenityID]) VALUES (1, 2)
INSERT [dbo].[RoomAmenities] ([RoomID], [AmenityID]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [HotelID], [RoomTypeID], [RoomNumber], [Floor], [IsAvailable]) VALUES (1, 1, 1, N'101', 1, 1)
INSERT [dbo].[Rooms] ([RoomID], [HotelID], [RoomTypeID], [RoomNumber], [Floor], [IsAvailable]) VALUES (2, 1, 2, N'201', 2, 1)
INSERT [dbo].[Rooms] ([RoomID], [HotelID], [RoomTypeID], [RoomNumber], [Floor], [IsAvailable]) VALUES (3, 1, 4, N'301', 3, 1)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([RoomTypeID], [TypeName], [Description], [BasePrice], [Capacity]) VALUES (1, N'Standard', N'Basic room with essential amenities', CAST(100.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[RoomTypes] ([RoomTypeID], [TypeName], [Description], [BasePrice], [Capacity]) VALUES (2, N'Deluxe', N'Spacious room with upgraded amenities', CAST(150.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[RoomTypes] ([RoomTypeID], [TypeName], [Description], [BasePrice], [Capacity]) VALUES (3, N'Executive', N'Business-friendly room with work desk', CAST(200.00 AS Decimal(10, 2)), 2)
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admin__536C85E41B6D8A83]    Script Date: 05.05.2025 22:09:06 ******/
ALTER TABLE [Authentication].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Login__536C85E475726746]    Script Date: 05.05.2025 22:09:06 ******/
ALTER TABLE [Authentication].[Login] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D10534C475A545]    Script Date: 05.05.2025 22:09:06 ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__A9D105348DEB1B5D]    Script Date: 05.05.2025 22:09:06 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__AA570FD44D13755A]    Script Date: 05.05.2025 22:09:06 ******/
ALTER TABLE [Hotels].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[CNIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__EA4E01BA2087A9EA]    Script Date: 05.05.2025 22:09:06 ******/
ALTER TABLE [Hotels].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeEmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Hotel__371CDBE4CC0A703D]    Script Date: 05.05.2025 22:09:06 ******/
ALTER TABLE [Hotels].[Hotel] ADD UNIQUE NONCLUSTERED 
(
	[AddressLine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Hotel__570665C6BBC68D23]    Script Date: 05.05.2025 22:09:06 ******/
ALTER TABLE [Hotels].[Hotel] ADD UNIQUE NONCLUSTERED 
(
	[ContactNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Hotel__737584F67831A083]    Script Date: 05.05.2025 22:09:06 ******/
ALTER TABLE [Hotels].[Hotel] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Hotel__98E0862ED541297D]    Script Date: 05.05.2025 22:09:06 ******/
ALTER TABLE [Hotels].[Hotel] ADD UNIQUE NONCLUSTERED 
(
	[Website] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Hotel__A9D10534DF8C05D4]    Script Date: 05.05.2025 22:09:06 ******/
ALTER TABLE [Hotels].[Hotel] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Authentication].[Login] ADD  DEFAULT ('Yes') FOR [NewUser]
GO
ALTER TABLE [Bookings].[Booking] ADD  DEFAULT ('Checkin') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Discounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [Hotels].[Departments] ADD  DEFAULT ('Intern') FOR [Designation]
GO
ALTER TABLE [Hotels].[Guests] ADD  DEFAULT ('Not Reserved') FOR [Status]
GO
ALTER TABLE [Authentication].[Login]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeId_Login] FOREIGN KEY([EmployeeId])
REFERENCES [Hotels].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [Authentication].[Login] CHECK CONSTRAINT [FK_EmployeeId_Login]
GO
ALTER TABLE [Authentication].[Login]  WITH CHECK ADD  CONSTRAINT [FK_HotelId_login] FOREIGN KEY([HotelId])
REFERENCES [Hotels].[Hotel] ([HotelId])
GO
ALTER TABLE [Authentication].[Login] CHECK CONSTRAINT [FK_HotelId_login]
GO
ALTER TABLE [Bookings].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_DiscountId_Booking] FOREIGN KEY([DiscountId])
REFERENCES [Bookings].[Discount] ([DiscountId])
GO
ALTER TABLE [Bookings].[Booking] CHECK CONSTRAINT [FK_DiscountId_Booking]
GO
ALTER TABLE [Bookings].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeId_Booking] FOREIGN KEY([EmployeeId])
REFERENCES [Hotels].[Employees] ([EmployeeId])
GO
ALTER TABLE [Bookings].[Booking] CHECK CONSTRAINT [FK_EmployeeId_Booking]
GO
ALTER TABLE [Bookings].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_GuestId_Booking] FOREIGN KEY([GuestId])
REFERENCES [Hotels].[Guests] ([GuestId])
GO
ALTER TABLE [Bookings].[Booking] CHECK CONSTRAINT [FK_GuestId_Booking]
GO
ALTER TABLE [Bookings].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_HotelId_Booking] FOREIGN KEY([HotelId])
REFERENCES [Hotels].[Hotel] ([HotelId])
ON DELETE CASCADE
GO
ALTER TABLE [Bookings].[Booking] CHECK CONSTRAINT [FK_HotelId_Booking]
GO
ALTER TABLE [Bookings].[Discount]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeId_Discount] FOREIGN KEY([EmployeeId])
REFERENCES [Hotels].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [Bookings].[Discount] CHECK CONSTRAINT [FK_EmployeeId_Discount]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD FOREIGN KEY([CityID])
REFERENCES [dbo].[Cities] ([CityID])
GO
ALTER TABLE [dbo].[BookingDiscounts]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[BookingDiscounts]  WITH CHECK ADD FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discounts] ([DiscountID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK__Bookings__Custom__5535A963] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK__Bookings__Custom__5535A963]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotels] ([HotelID])
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD FOREIGN KEY([AddressID])
REFERENCES [dbo].[Addresses] ([AddressID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[RoomAmenities]  WITH CHECK ADD FOREIGN KEY([AmenityID])
REFERENCES [dbo].[Amenities] ([AmenityID])
GO
ALTER TABLE [dbo].[RoomAmenities]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotels] ([HotelID])
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[RoomTypes] ([RoomTypeID])
GO
ALTER TABLE [Hotels].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_HotelId_dep] FOREIGN KEY([HotelId])
REFERENCES [Hotels].[Hotel] ([HotelId])
GO
ALTER TABLE [Hotels].[Departments] CHECK CONSTRAINT [FK_HotelId_dep]
GO
ALTER TABLE [Hotels].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentId_Employee] FOREIGN KEY([DepartmentId])
REFERENCES [Hotels].[Departments] ([DepartmentId])
ON DELETE SET NULL
GO
ALTER TABLE [Hotels].[Employees] CHECK CONSTRAINT [FK_DepartmentId_Employee]
GO
ALTER TABLE [Hotels].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_HotelId_Employee] FOREIGN KEY([HotelId])
REFERENCES [Hotels].[Hotel] ([HotelId])
ON DELETE CASCADE
GO
ALTER TABLE [Hotels].[Employees] CHECK CONSTRAINT [FK_HotelId_Employee]
GO
ALTER TABLE [Hotels].[Guests]  WITH CHECK ADD  CONSTRAINT [FK_HotelID_Guests] FOREIGN KEY([HotelId])
REFERENCES [Hotels].[Hotel] ([HotelId])
ON DELETE CASCADE
GO
ALTER TABLE [Hotels].[Guests] CHECK CONSTRAINT [FK_HotelID_Guests]
GO
ALTER TABLE [HotelService].[Services]  WITH CHECK ADD  CONSTRAINT [FK_HotelId_Services] FOREIGN KEY([HotelId])
REFERENCES [Hotels].[Hotel] ([HotelId])
ON DELETE CASCADE
GO
ALTER TABLE [HotelService].[Services] CHECK CONSTRAINT [FK_HotelId_Services]
GO
ALTER TABLE [HotelService].[ServicesUsed]  WITH CHECK ADD  CONSTRAINT [FK_BookingId_ServicesUsed] FOREIGN KEY([BookingId])
REFERENCES [Bookings].[Booking] ([BookingId])
GO
ALTER TABLE [HotelService].[ServicesUsed] CHECK CONSTRAINT [FK_BookingId_ServicesUsed]
GO
ALTER TABLE [HotelService].[ServicesUsed]  WITH CHECK ADD  CONSTRAINT [FK_ServiceId_ServicesUsed] FOREIGN KEY([ServiceId])
REFERENCES [HotelService].[Services] ([ServiceId])
ON DELETE CASCADE
GO
ALTER TABLE [HotelService].[ServicesUsed] CHECK CONSTRAINT [FK_ServiceId_ServicesUsed]
GO
ALTER TABLE [Authentication].[Login]  WITH CHECK ADD CHECK  (([NewUser]='No' OR [NewUser]='Yes'))
GO
ALTER TABLE [Bookings].[Booking]  WITH CHECK ADD CHECK  (([Status]='Checkout' OR [Status]='Checkin'))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CHK_Bookings_Status] CHECK  (([Status]='Paid' OR [Status]='Pending' OR [Status]='Confirmed' OR [Status]='Cancelled' OR [Status]='Completed'))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CHK_Bookings_Status]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CHK_Dates] CHECK  (([CheckOutDate]>[CheckInDate]))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CHK_Dates]
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD  CONSTRAINT [CHK_DiscountDates] CHECK  (([EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[Discounts] CHECK CONSTRAINT [CHK_DiscountDates]
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD CHECK  (([StarRating]>=(1) AND [StarRating]<=(5)))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Status]='Refunded' OR [Status]='Failed' OR [Status]='Completed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [Hotels].[Guests]  WITH CHECK ADD CHECK  (([Status]='Not Reserved' OR [Status]='Reserved'))
GO
USE [master]
GO
